base_ami_name = "ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-*"
base_ami_owner_acct = "099720109477"
build_instance_type = "t3.micro"
build_region = "us-west-1"
destination_regions = ["us-west-1"]
nginx_repo_cert = "~/nginx-repo.crt"
nginx_repo_key = "~/nginx-repo.key"


#ami_name = "my_ami_name" # if not provided, defaults to nginx-<YYYY-MM-DD>
#subnet_id = "my_subnet_id" # if not provided, defaults to in default vpc
