#!/bin/bash
%{ if db_type != "" }
sed -i "s/^DB_TYPE=.*/DB_TYPE=${db_type}/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_host != null }
sed -i "s/^DB_HOST=.*/DB_HOST=${db_host}/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_user != null }
sed -i "s/^DB_USER=.*/DB_USER=${db_user}/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_password != null }
sed -i "s/^DB_PASSWORD=.*/DB_PASSWORD=\"${db_password}\"/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_ca_cert_file != null }
echo "${db_ca_cert_file}" > /etc/nginx-devportal/ssl/ca.crt
chmod 640 /etc/nginx-devportal/ssl/ca.crt
chown nginx-devportal /etc/nginx-devportal/ssl/ca.crt
sed -i "s/^# DB_TLS_CA_FILE=.*/DB_TLS_CA_FILE=\"\/etc\/nginx-devportal\/ssl\/ca.crt\"/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_client_key_file != null }
echo "${db_client_key_file}" > /etc/nginx-devportal/ssl/client.key
chmod 600 /etc/nginx-devportal/ssl/client.key
chown nginx-devportal /etc/nginx-devportal/ssl/client.key
sed -i "s/^# DB_TLS_KEY_FILE=.*/DB_TLS_KEY_FILE=\"\/etc\/nginx-devportal\/ssl\/client.key\"/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_client_cert_file != null }
echo "${db_client_cert_file}" > /etc/nginx-devportal/ssl/client.crt
chmod 640 /etc/nginx-devportal/ssl/client.crt
chown nginx-devportal /etc/nginx-devportal/ssl/client.crt
sed -i "s/^# DB_TLS_CERT_FILE=.*/DB_TLS_CERT_FILE=\"\/etc\/nginx-devportal\/ssl\/client.crt\"/" /etc/nginx-devportal/devportal.conf
%{ endif }
%{ if db_ca_cert_file != null  || db_client_cert_file != null || db_client_key_file != null }
sed -i "s/^# DB_TLS_MODE=.*/DB_TLS_MODE=\"verify-full\"/" /etc/nginx-devportal/devportal.conf
%{ endif }
