admin_passwd         = "complexPassword*1"
admin_user           = "admin"
resource_group_name  = "my_resource_group"

#image_name           = "myimagename"
#incoming_cidr_blocks = []
#ssh_pub_key          = "~/.ssh/id_rsa.pub"
#ssh_user             = "ubuntu"
