base_image_offer                      = "0001-com-ubuntu-server-jammy"
base_image_publisher                  = "Canonical"
base_image_sku                        = "22_04-lts-gen2"
build_instance_type                   = "Standard_B1s"
nginx_repo_cert                       = "~/nginx-repo.crt"
nginx_repo_key                        = "~/nginx-repo.key"

#image_name                           = "my_image_name" # if not provided, defaults to nginx-<YYYY-MM-DD>
#resource_group_name                  = "my-resource_group_name"
