# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# License files #
#################
*.lic

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log


**.env
*get-pip.py
.terraform.lock.hcl
public_ip
terraform.tfstate*
.terraform*
*.tfvars
.nms_htpasswd
*.pkrvars.hcl
packer-manifest.json
**/user-data
packer/ansible/roles/
!packer/ansible/roles/nginx_devportal

