admin_user           = "admin"
ami_id               = "my_ami_name"
aws_region           = "us-west-1"
ssh_pub_key          = "~/.ssh/id_rsa.pub"
imcoming_cidr_blocks = ["x.x.x.x/32"]

#subnet_id    = "my_subnet_id"
