
nginx_repo_cert                        = "path_to_nginx_repo_cert"
nginx_repo_key                         = "path_to_nginx_repo_key"
iso_path                               = "ISO/ubuntu-22.04-live-server-amd64.iso"
boot_command                           = "c<wait>linux /casper/vmlinuz --- autoinstall<enter><wait>initrd /casper/initrd <enter><wait>boot<enter>"
cluster_name                           = "my_cluster_name"
datacenter                             = "target_datacenter"
datastore                              = "my_datastore"
network                                = "my_network"

#nms_api_connectivity_manager_version  = "1.7.0"
#nms_app_delivery_manager_version      = "4.0.0"
#nms_security_monitoring_version       = "1.4.0"
#vsphere_username                      = "my_username"
#vsphere_password                      = "my_password"
#vsphere_url                           = "my_vsphere_url"
#template_name                         = "target_template_name" # if not provided, defaults to nms-ubuntu-20-04-<DD-MMM-YYYY>
