#cloud-config

system_info:
  default_user:
    name: ${default_user}

ssh_authorized_keys:
  - ${public_key}

write_files:
  - content: ${htpasswd_file}
    owner: nms:nms
    path: /etc/nms/nginx/.htpasswd
    permissions: '0660'
