#cloud-config

system_info:
  default_user:
    name: ${default_user}

ssh_authorized_keys:
  - ${public_key}

write_files:
  - content: ${htpasswd_file}
    owner: nms:nms
    path: /etc/nms/nginx/.htpasswd
    permissions: '0660'

bootcmd:
  - |
    for d in $(echo ${disks}); do
      mount=$(echo $d |cut -d ":" -f 1)
      device=$(echo $d |cut -d ":" -f 2)
      owner=$(echo $d |cut -d ":" -f 3)
      group=$(echo $d |cut -d ":" -f 4)
      ready="false"
      retry=12
      count=0
      while [ "$ready" = "false" ]; do
        if [ -b "$device" ]; then
          ready="true"
        else
          if [ $count -lt $retry ]; then
            sleep 10
            ((count++))
          else
            exit 1
          fi
        fi
      done
      output=$(blkid --probe $device)
      if [ -z "$output" ]; then 
        mkfs.ext4 $device;
      fi
      if ! grep -q "$device" /etc/fstab; then
        echo "$device $mount ext4 defaults 0 0" >> /etc/fstab
      fi
      if [ ! -d "$mount" ]; then
        mkdir -p "$mount"
      fi
      mount -a
      chown "$owner":"$group" "$mount"
    done
    if [ ! -f /etc/nms/certs/ca.key ]; then
      bash /etc/nms/scripts/certs.sh
      chmod 0755 /etc/nms/certs/services # Correct permissions as ca.crt was not readable by services
    fi
