ami_id       = "my_ami_name"
aws_region   = "us-west-1"

instance_type = "t3.medium"

#db_type = "psql"
#db_user = "nginxdm"
#db_password = "nginxdm"
#db_host = "54.183.246.245"
#db_ca_cert_file  = "~/ssl/ca.crt" 
#db_client_cert_file  = "~/ssl/client.crt" 
#db_client_key_file  = "~/ssl/client.key" 


#subnet_id    = "my_subnet_id" 
#ssh_user     = "ssh_user"
#ssh_pub_key  = "~/.ssh/custum_key.pub" 
#icoming_cidr_blocks  = ["x.x.x.x/32"]
#db_type  = "sqlite" 