#cloud-config

system_info:
  default_user:
    name: ${default_user}
    
ssh_authorized_keys:
  - ${public_key}

bootcmd:
  - sed -i "s/^DB_TYPE=.*/DB_TYPE=${db_type}/" /etc/nginx-devportal/devportal.conf
  - sed -i "s/^DB_HOST=.*/DB_HOST=${db_host}/" /etc/nginx-devportal/devportal.conf
  - sed -i "s/^DB_USER=.*/DB_USER=${db_user}/" /etc/nginx-devportal/devportal.conf
  - sed -i "s/^DB_PASSWORD=.*/DB_PASSWORD=${db_password}/" /etc/nginx-devportal/devportal.conf
  - |
    if [ -n "${db_ca_cert_file}" ]; then
      echo "${db_ca_cert_file}" | base64 -d > /etc/nginx-devportal/ssl/ca.crt
      chmod 640 /etc/nginx-devportal/ssl/ca.crt
      chown nginx-devportal /etc/nginx-devportal/ssl/ca.crt
      sed -i "s/^# DB_TLS_CA_FILE=.*/DB_TLS_CA_FILE=\"\/etc\/nginx-devportal\/ssl\/ca.crt\"/" /etc/nginx-devportal/devportal.conf
    fi
  - |
    if [ -n "${db_client_cert_file}" ]; then
      echo "${db_client_cert_file}" | base64 -d > /etc/nginx-devportal/ssl/client.crt
      chmod 640 /etc/nginx-devportal/ssl/client.crt
      chown nginx-devportal /etc/nginx-devportal/ssl/client.crt
      sed -i "s/^# DB_TLS_CERT_FILE=.*/DB_TLS_CERT_FILE=\"\/etc\/nginx-devportal\/ssl\/client.crt\"/" /etc/nginx-devportal/devportal.conf
    fi
  - |
    if [ -n "${db_client_key_file}" ]; then
      echo "${db_client_key_file}" | base64 -d > /etc/nginx-devportal/ssl/client.key
      chmod 640 /etc/nginx-devportal/ssl/client.key
      chown nginx-devportal /etc/nginx-devportal/ssl/client.key
      sed -i "s/^# DB_TLS_KEY_FILE=.*/DB_TLS_KEY_FILE=\"\/etc\/nginx-devportal\/ssl\/client.key\"/" /etc/nginx-devportal/devportal.conf
    fi
  - |
    if [ -n "${ip_address}" ] && [ -n "${zone}" ]; then
      echo "\n${ip_address} acm.${zone}\n" >> /etc/hosts
    fi

runcmd:
  - |
    if [ -n "${nms_host_ip}" ] && [ -n "${instance_group_name}" ]; then
      curl -k "https://${nms_host_ip}/install/nginx-agent" > install.sh && sudo sh install.sh -g ${instance_group_name} && sudo systemctl start nginx-agent
    fi
