image_name       = "my_image_name"
project_id       = "myprojectid"

#db_type = "psql"
#db_user = "nginxdm"
#db_password = "nginxdm"
#db_host = "54.183.246.245"
#db_ca_cert_file  = "~/ssl/ca.crt" 
#db_client_cert_file  = "~/ssl/client.crt" 
#db_client_key_file  = "~/ssl/client.key" 

#region               = "europe-west4"
#ssh_user             = "ssh_user"
#instance_type        = "e2-micro"
#ssh_pub_key          = "~/.ssh/custum_key.pub" 
#icoming_cidr_blocks  = ["x.x.x.x/32"]
