image_name           = "myimagename"
incoming_cidr_blocks = ["x.x.x.x/32"]
instance_type        = "e2-micro"
project_id           = "myprojectid"
ssh_pub_key          = "~/.ssh/id_rsa.pub"
ssh_user             = "ubuntu"
#labels              = {} # map of labels to apply to resulting GCP resources
