base_image_name                      = "ubuntu-2204-jammy-v20230114"
build_zone                           = "europe-west4-a"
build_instance_type                  = "e2-micro"
nginx_repo_cert                      = "path_to_nginx_repo_cert"
nginx_repo_key                       = "path_to_nginx_repo_key"
nms_api_connectivity_manager_version = "1.6.0"
nms_security_monitoring_version      = "1.5.0"
project_id                           = "myprojectid"

#image_name                          = "target_image_name" # if not provided, defaults to nms-ubuntu-22-04-<nms_api_connectivity_manager_version>
