#cloud-config

system_info:
  default_user:
    name: ${default_user}

ssh_authorized_keys:
  - ${public_key}

runcmd:
  - curl -k "https://${acm_host_ip}/install/nginx-agent" > install.sh && sudo sh install.sh -g ${instance_group_name} && sudo systemctl start nginx-agent
  