cluster_name         = "cluster-name"
datacenter           = "datacenter-name"
datastore            = "vsanDatastore"
network              = "VM Network"
ssh_pub_key          = "~/.ssh/id_rsa.pub"
ssh_user             = "ubuntu"

#template_name  = "nginx-devportal-ubuntu-22-04-1-5-0"
#db_type = "psql"
#db_user = "nginxdm"
#db_password = "nginxdm"
#db_host = "54.183.246.245"
#db_ca_cert_file  = "~/ssl/ca.crt" 
#db_client_cert_file  = "~/ssl/client.crt" 
#db_client_key_file  = "~/ssl/client.key" 

#vsphere_username = "my_username"
#vsphere_password = "my_password"
#vsphere_url      = "my_vsphere_url"
